h1{
    text-align:center;



}

.9{
    text-align: center
}





 p {
        background:rgba(119, 136, 153,0.1)
    }


img{
    text-align: center
    
}


h3
{text-align: center}



ul{
    font-size: 22px;
    border-style: double, px30
    
}

li{
    border-style: inset
}
.text-color{
    color:red;
}

    

    

